@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #3b3b85;
    min-height: 100vh;
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Poppins", sans-serif;

}

input{
     background-color: #12125c;
     width: 400px;
     padding: 18px;
     font-size: 16px;
     border: none;
     border-radius: 10px;
     color: #fff;
     margin-bottom: 35px;
}

input::placeholder{
    color:#bbb;
}

input:focus{
    outline: none;
}

.card{
    background-color: #4c2885;
    display: flex;
    max-width: 800px;
    padding:40px ;
    border-radius: 20px;
    background-image: linear-gradient(315deg,#4c2885 0%, #4c11ac 100%);
}

.avatar{
   height:150px;
   width: 150px;
   border: 10px solid #2a2a72;
   border-radius: 50px; 
}

.user{
    color: #eee;
    margin-left: 30px;
}

.user h2{
    margin-top: 0;
}

.user p {
    margin-top: 7px;
}
  
.user ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding-top: 7px;
    max-width: 400px;
    margin-left: 60px;
    margin-bottom: 7px;
}

.user ul li{
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.user ul li strong{
    font-size: 14px;
    margin-left: 10px;
}

.repo{
    color: #fff;
    text-decoration: none;
    background-color: #2a2a72;
    border-radius: 5px;
    font-size:10px;
    padding: 5px 10px;
    margin:0 6px 6px 0 ;
    display: inline-block;
}
